/* Reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* thẻ html có tính kế thừa=> các thẻ có chữ sẽ có front giống
    còn thẻ * nếu để thì cả các thẻ ko có chữ cũng bị 
*/
html{
    scroll-behavior:smooth;
    font-family: "Lato", sans-serif;
}

/*
1.Vị trí 
2.Màu sắc
3.Kiểu chữ
4.Kích thước
 */


 /* Common */
 .text-white{
    color : #fff !important;
 }

 .text-center{
    text-align: center !important;
 }

 .mt-8{
    margin-top: 8px;
 }

 .mt-16{
    margin-top: 16px;
 }

 .pull-right{
    float: right !important;
 }

 .btn{
    color: #fff;
    background-color: #000;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin-top : 15px;
    border:none;
}
.btn:hover{
    background-color: #ccc;
    color: #000;
    cursor: pointer;
}
.clear{
    clear: both;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left:8px ;
    padding-right:8px ;
}

.col-third{
    width: 33.3333%;
}

.col-half{
    width: 50%;
}

.col-full{
    width: 100%;
}

/* Main */
#main{

}

#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    /* Có thể dùng width : 100% */
    right: 0;
    z-index: 1;
    /* responsive */
    overflow: hidden;

}

#nav{
    /* nav chỉ chiếm vừa nội dung để search btn có thể
    nối lên */
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;
}

#nav > li{
    display: inline-block;
}

#nav li{
    position: relative;
}

/* Khi hover vào li thì thẻ con a sẽ dc css */
#nav > li:hover > a,
#nav .subnav li:hover a
{
    color: #000;
    background-color: #ccc ;
}


#nav li a {
    text-decoration: none;
    /* Căn giữa chữ theo chiều cao */
    /* Mặc định chữ sẽ ở giữa theo chiều cao
    => cho line height= kích thước cha để nó đứng giữa */
    line-height: 46px;
    padding: 0 24px;
    display: block;

}


#nav > li > a{
    color:white;
    text-transform: uppercase;
    
}
#nav li:hover .subnav{
    display: block;
}

#nav .subnav{
    /* Ẩn menu con */
    display: none;
    background-color: white;
    position: absolute;
    min-width: 60px;
    top : 100%;
    left: 0;
    /* bóng đổ */
    box-shadow: 5px 10px 18px rgba(0, 0, 0, 0.3) ;
}


#nav .subnav a{
    color :  #333;
    padding: 0 16px;
    line-height: 38px   ;
}

#nav .nav-arrow-down {
    font-size: 13px;
}


#header .btn-mobile-menu,
#header .search-btn{
    /* Khi có float sẽ mất đi tính kế thừa chiều ngang như block */
    float: right;   
    padding: 0 21px;
}

/* #header .test{
    display: flex;
} */

#header .menu-icon,
#header .search-icon{
    color: white;
    font-size: 20px ; 
    line-height: 46px;
}

#header .btn-mobile-menu{
    background-color: #ccc;
}
#header .btn-mobile-menu .menu-icon{
    color: #000;
}

#header .search-btn:hover{
    /* Khi chuột ở đó đổi sang bàn tay */
    cursor: pointer;
    background-color: rgb(238, 62, 62);
}



#slider{
    /* Vì header có attr position nên nó nổi lên
    => slider chiếm cả vùng của header  */
    margin-top: 46px;
    padding-top: 50%;

    /* 50% của chính nó */
    /* padding-top: 50%; */
    /* background-image: url('/TheBand/assets/img/slider/slider1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; */
    background: url('/TheBand/assets/img/slider/slider1.jpg') top center/ cover no-repeat ;

    position: relative;
}

#slider .text-content{
    position: absolute;
    bottom: 47px;
    color: white;
    text-align: center;
    /* C1 căn giữa */
    /* left : 50%;
    transform: translateX(-50%); */
    /* C2  */
    width: 100%;
    /* C3 */
    /* right: 0;
    left: 0; */

}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
    margin: 25px;
}
#slider .text-dsc{
    font-size: 15px;
}
.text-content{
    color: white;
}


#content{

}

#content .content-section{
    width: 800px;
    /*Phần thử không thể rộng hơn phân tử cha, max 100%*/
    /* Vd : khi màn 700 thì width của phân tử này cũng thay đổi về 700 */
    max-width: 100%;
    padding : 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    /*  */
    padding-left: 16px;
    padding-right: 16px;

}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    /* KHoảng cách các chữ */
    letter-spacing: 5px;

}
#content .section-sub-heading{
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
    font-style: italic;
    /* Độ trong suốt từ 0->1 */
    opacity: 0.6;
}

#content .about-text{
    margin-top: 25px;
    font-size: 15px;    
    /* Căn đều 2 bên chữ, ko thụt ra thụt vào */
    text-align: justify;
    /* Độ cao 1 dòng */
    line-height: 1.4;
}

#content .member-list{
    margin-top: 48px;
    /* vì các phần tử con dùng float => nổi khỏi mặt phảng 
    => phần tử cha co lại => thằng contact đẩy lên  */
    /* Làm như này thì nó sẽ lấy lại kích thưỡc=> contact đẩy xuống */
    /* overflow: hidden;  */
    /* Cách 2 dùng clear */
}


#content .member-name{
    font-size:15px ;

}

#content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 5px;

}

.tour-section{
    background-color: #000;
}

.ticket-list{
    background-color: #fff;
    margin-top: 40px;
}

.ticket-list li{
    font-size: 15px;
    padding: 12px 16px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    list-style-type: none;
}

.ticket-list .sold-out{
    background-color: #f44336;
    color : #fff;
    padding: 3px 4px;
    margin-left: 16px;
}

.ticket-list .quantity{
    color: white ;
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;

}

/* Place */
.place-list{
    /* margin-top: 32px;
    margin-left: -8px;
    margin-right: -8px; */
    margin-top: 32px;
    padding-bottom:48px;

}

.place-img{
    width: 100%;
    /* Khi 1 thẻ inline đứng cạnh block sẽ tạo ra 1 khoảng cách nhỏ */
    display: block ;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: white;
    padding: 16px;
    /* Có tính kế thừa, nên con sẽ kế thừa từ thằng heading */
    font-size:15px ;

}
.place-heading{
    font-family: "Lato", sans-serif;
    font-size:15px ;
    font-weight:600 ;
}
.place-time{
     margin-top: 15px;   
     color: #7575;
}
.place-desc{
    margin-top: 15px;
    /* tiếng việt 1.6, anh 1.4 */
    line-height: 1.4;
}


/* modal */

.modal.open{
    display: flex ;
}
.modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);

    display :none; 
    /*Căn giữa thằng con*/
    /* cho thằng con nằm giữa chiều cao thằng cha */
    align-items: center;
    /* cho thằng con nằm giữa chiều ngang thằng cha */
    justify-content: center;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    min-height: 200px;
    /* xử lí nút close */
    position: relative;

    /* rps */
    max-width: calc(100%-32px);

    /* animation */
    animation: modalFadeIn ease .5s;
}

.modal-header{
    height: 129px;
    background-color: #009688;
    font-size:30px ;
    color: white;
    /* Căn giữa chữ */
    display: flex;
    /* Căn theo chiều cao */
    align-items: center;
    /* Căn theo chiều ngang */
    justify-content: center;
}
.modal-heading-icon{
    margin-right: 16px;
}

.ti-close{
    position: absolute;
    right:0;
    color : #fff;
    padding : 16px;
}
.ti-close:hover{
    background-color: red;
    cursor: pointer;
}

.modal-body{
    padding : 16px;
}

.modal-lable{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size:15px ;
    margin-bottom: 24px;
}

#buy-ticket{
    width: 100%;
    background-color: #009688;
    border: none;
    color: white;
    font-size:15px ;
    text-transform: uppercase;
    padding: 18px;
}

#buy-ticket:hover{
    cursor: pointer;
    opacity: 0.9;
}

.modal-footer{
    padding : 16px;
    text-align: right;
}
.modal-footer a{
    color:#2196F3
}
/* Tạo ra hoạt hoạ */
@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px) ;
    }
    to{
        opacity: 1;
        transform: translateY(0) ;
    }
}

/* contact form */
.contact-content{
    margin-top: 48px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"]{
    width: 30px;
    display: inline-block;
}
.contact-form{
    font-size: 15px;
}

.form-control{
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;    

}
.form-control:hover{
    outline: 1px solid #2196F3;
}

.map-section img{
    width: 100%;
}


#footer{
    padding: 64px 16px;
    text-align: center;
    font: 15px;
}

#footer a{
    text-decoration: none;
    opacity: 0.8;
    color: #757575;
    line-height: 1.5;
}

/* responsive */
